# IDE crap.
/.idea/

# NPM
node_modules/
npm-debug.log

# Project.
/dist/

# This is the mongodb test directory.
/.data/
NodejsApp1.njsproj
typings/globals/node/index.d.ts
typings/globals/node/typings.json
typings/index.d.ts
